.b
{
    background: linear-gradient(to bottom, #9933ff 0%, #0099ff 100%);
height: 500px;
  width: 400px;
   

  margin: 20px auto; 
  padding: 20px;
  border-style: groove;
 margin-top: 50px;
  border-radius:30px;
}