
.home-container
{
      width: 100%;
  height: 90vh; 
  background-image: url("https://static.vecteezy.com/system/resources/previews/001/311/554/original/education-and-back-to-school-concept-free-vector.jpg");
  background-size: cover;      
 
}

